@import "tailwindcss";

@theme {
  --color-saffron: "#FF9933";
  --color-white: "#ffffff";
  --color-greenindia: "#138808";
  --color-deepnavy: "#151236";
}


body { @apply bg-white text-blue-900; }


/* small helpers */
.container { @apply max-w-7xl mx-auto px-6; }
.card { @apply bg-white rounded-xl shadow-md p-6; }